
@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<html>

<head>


</head>
<body>
    <br />
    <br />
    <div class="bg-info">

        <p class="p-5">
            Hoşgeldiniz
            Bu Uygulama Dijital İş Takip Uygulamasıdır.
            Bu Uygulama Sayesinde günlük aylık haftalık işlerinizi takip edebilirsiniz..


        </p>
        <img src="~/images/ik.jpg" />

    </div>
    

  
  

</body>

</html>


