@model WebApplication2.Models.NotTBL
@{
    ViewData["Title"] = "NotGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<!DOCTYPE html>
<html>
<title>AylikGuncelle</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <br />
    <br />
    <br />
    @using (Html.BeginForm("NotGuncelle", "NotAl", FormMethod.Post))
    {
        <input type="hidden" name="NotID" value="@Model.NotID" />
        <h2 class="w3-center">Not Güncelle</h2>



        <div class="w3-row w3-section">
            <div><label>Not Ekleyen Kullanıcı</label></div>
            <div class="w3-rest">
                @Html.DropDownListFor(x => x.Kullanici.KullaniciID, (List<SelectListItem>)ViewBag.kuldgr, "Kullanıcı Seçiniz", new { @class = "form-control" })
            </div>
        </div>

        <div class="w3-row w3-section">
            <div><label>Not Başlığı</label></div>
            <div class="w3-rest">
                @Html.TextBoxFor(x => x.NotBasligi, new { @class = "form-control" })
            </div>
        </div>

        <div class="w3-row w3-section">
            <div><label>Notun İçeriği</label></div>
            <div class="w3-rest">
                @Html.TextBoxFor(x => x.NotIcerik, new { @class = "form-control" })
            </div>
        </div>


        <div class="w3-row w3-section">
            <div><label>Not Ekleme Tarihi</label></div>
            <div class="w3-rest">
                <input type="date" class="form-control" name="NotAlinmaTarih" />

            </div>
        </div>

       




        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Güncelle</button>



    }



</body>
</html>




