@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
    string fullname = Context.Session.GetString("fullname");
}

<!DOCTYPE html>
<html>
<title>İş Takip</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />



<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <div style="margin-bottom:50px">
            <h3>Hoşgeldiniz</h3>
            <h2 style="font-family:Algerian;font-size:large"> @fullname</h2>
        </div>
       
        <a href="/Anasayfa/Index" class="w3-bar-item w3-button">Anasayfa</a>
        <a href="/Gunluk/Index" class="w3-bar-item w3-button">Günlük İşler</a>
        <a href="/Haftalik/Index" class="w3-bar-item w3-button">Haftalık İşler</a>
        <a href="/Aylik/Index" class="w3-bar-item w3-button">Aylık İşler</a>
        <a href="/NotAl/Index" class="w3-bar-item w3-button">Not Al</a>

        <a href="/Hesap/CikisYap" class="w3-bar-item w3-button">Çıkış</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h3>Dijital İş Takip</h3>
        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>